html {
  scrollbar-gutter: stable;
}

.filter-form-width {
  /* Allow the form to fill space up to the limit */
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .filter-form-width {
    max-width: 700px;
  }
}
