html {
  scrollbar-gutter: stable;
  scroll-behavior: auto !important;
}

body {
  background-color: var(--bs-light) !important;
}

.filter-form-width {
  width: 600px;
  max-width: calc(100vw - 8px);
}

@media (min-width: 768px) {
  .filter-form-width {
    width: 700px;
  }
}

a.focus-ring:focus:not(:focus-visible) {
  box-shadow: none;
}
