html {
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scroll-behavior: auto !important;
  /* when the search box is focused, you scroll down, then start typing "cluj",
  without this it does not scroll all the way to the top */
  scroll-padding-top: 16px;
  /* when you tab from the last visible cards, the next rows bottom shadow does not get into view without this */
  scroll-padding-bottom: 8px;
}

body {
  overflow-x: hidden;
}

body.loading {
  overflow-y: hidden;
}

#grid-wrapper.resizing {
  opacity: 0;
}

.filter-form-width {
  width: 600px;
  max-width: calc(100vw - 8px);
}

@media (min-width: 768px) {
  .filter-form-width {
    width: 700px;
  }
}

a.focus-ring:focus:not(:focus-visible) {
  box-shadow: none;
}
